<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat with ExpressJS and Redis</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css" type="text/css" media="screen">
</head>
<body>
<main id="chat" class="container">

    <p id="chat-info" class="text-center bg-light"></p>

    <form id="chat-join" action="" method="post" novalidate>
        <div class="input-group">
            <input type="text" name="username" id="username" placeholder="Username or email" class="form-control">
            <div class="input-group-append">
                <input type="submit" value="Join chat" class="btn btn-outline-secondary">
            </div>    
        </div>
    </form>

    <section id="chat-wrap" class="d-none">
        <div id="chat-messages"></div>
        <form id="chat-actions">
            <div class="form-group">
                <textarea name="message" id="message" placeholder="Enter your message..." class="form-control"></textarea>
            </div>
            <p class="text-center">
                <input type="button" id="send-message" value="Send Message" class="btn btn-success mr-4">
                <input type="button" id="leave-chat" value="Leave Chat" class="btn btn-danger">
            </p>
        </form>
    </section>

</main>
<script src="public/js/timeago.full.min.js"></script>
<script src="public/js/chat.js"></script>
</body>
</html>